/*Reset and clobal rules*/
/*RESET*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*BASE CODE OF PROJECT*/
/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/*Mobile fors less var set*/
@tablet: ~"(min-width: 500px)";
@desktop: ~"(min-width: 800px)";

body {
  width: 95%;
  @media @tablet {
    width: 96%;
  }
  @media @desktop {
    width: 876px;
  	margin: auto;
  }
}

/*The header and sub header banner area*/
header {
	padding: 0 0 40px 0;
	border-bottom: 1px solid black;
}

header .floatnav {
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  @media @tablet {

  }
  @media @desktop {
  	width: 876px;
    flex-flow: row;
    justify-content: flex-start;
  }
}

header .services-header-img {
  margin: 350px 0 0 0;
  width: 100%;
  @media @tablet {
    margin: 107px 0 0 0;
  }
  @media @desktop {
  	width: 876px;
  }
}

header .h1notmian {
  font-size: 30px;
  margin: 20px 0 10px 0;
  @media @tablet {}
  @media @desktop {
  	margin: 25px 0 15px 0;
  }
}

nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-bottom: 1px solid black;
  @media @tablet {
    width: 100%;
    padding: 0 2% 0 0;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: none;
  }
  @media @desktop {
    width: 876px;
  	margin: 35px 0px;
  	padding-right: 85px;
  }
}

nav a {
  color: silver;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 14px;
  text-shadow: 2px 1px white;
  border: 1px solid white;
  border-top: 1px solid black;
  width: 100%;
  text-align: center;
  padding: 1em;
  @media @tablet {
    margin: 0 auto;
    border-top: none;
  }
  @media @desktop {
  	padding: 10px;
  }
}





/*
@media @tablet {}
@media @desktop {}
*/
